*.log
.astro
.cache
.data
.env
.env.*
!.env.example
.nitro
.nuxt
.output
.phpunit.result.cache
.turbo
.wrangler
dist
node_modules
oclif.manifest.json
playwright-report
test-results
tmp
vendor
/apps/inspector/credentials.json
/apps/inspector/dist*
/apps/inspector/screenshots
/apps/inspector/web-ext-artifacts*
/apps/inspector/\\\\wsl.localhost\\*
/apps/inspector/.e2e-temp
/apps/op-lens/credentials.json
/apps/op-lens/dist*
/apps/op-lens/screenshots
/apps/op-lens/web-ext-artifacts*
/apps/op-lens/\\\\wsl.localhost\\*
/apps/op-lens/.e2e-temp
/public/ts

.claude/settings.local.json
