*.log
.astro
.env
.phpunit.result.cache
.turbo
.wrangler
dist
node_modules
oclif.manifest.json
playwright-report
test-results
tmp
vendor
/apps/inspector/credentials.json
/apps/inspector/dist*
/apps/inspector/screenshots
/apps/inspector/web-ext-artifacts*
/apps/inspector/\\\\wsl.localhost\\*
/apps/inspector/.e2e-temp
/public/ts

.claude/settings.local.json
